#output, #input {
  padding-right: 10px;
  margin: 0;
  border-style: none;
  text-align: right;
  background-color: rgba(0,80,130,0.2); 
  overflow-x: auto;
  overflow-y: hidden;
  width: 290px;
}

#input {
  height: 40px;
  border-radius: 17px 17px 0 0;
  font-size: 25px;
  position: relative;
}

#output {
  height: 63px;
  font-size: 50px;
  vertical-align: text-top;
  position: relative;
}

#container {
  border-radius: 20px;
  position: absolute;
  margin-left: 35%;
  margin-top: 2%;
  text-align: center;
  border: solid black 3px;
  width: 300px;
  height: 450px;
}

/*#bg {
  width: 300px;
  height: 350px;
  background-color: rgba(0,80,130,1);
  margin-top: 0;
}*/

#key {
  margin-top: 0;
  margin-left: 0;
  border-radius: 0 0 21px 21px;
  width: 300px;
  height: 350px;
  background-color: rgba(0,80,130,1);
}

.row {
  margin-left: 10px;
  margin-top: 5px;
  float: left;
}

button {
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 5px;
  width: 60px;
  height: 48px;
  font-size: 16pt;
  text-align: center;
  font-weight: bold;
  color: SeaShell;
  border: solid white 1px;
  padding: 0;
  background-color: rgba(0,100,150,1);
  outline: none;
}

button:hover {
  opacity: 0.5;
  outline: none;
}