doctype html
html
  head
    title details

  body
    h1 user details

    p username:
      span #{username}

    p userid:
      span #{userid}

    p phone:
      span #{phone}

    p email:
      span #{email}