html {
  font-family: Century Gothic, Sans-serif;
}

h1 {
  text-align: center;
  margin-left: 40%;
  margin-right: auto;
  color: DarkOliveGreen;
  display: inline-block;
}


form {
  margin: 40px;
  color: DarkOliveGreen;
}

.error {
  color: DarkRed;
}


.reset, .submit {
  color: DarkOliveGreen;
  margin-left: 90px;
  height: 30px;
  width: 70px;
  border-radius: 2%;
}

 input {
  border: 1px solid DarkGreen;
  height: 30px;
  width: 200px;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
 }
