doctype html
html
  head
    title register
    link(rel="stylesheet" href="signup.css")
    script(type="text/javascript" src="jquery-3.2.1.min.js")
    script(type="text/javascript" src="signup.js")
    script(type="text/javascript" src="validator.js")

  body
    h1 Register
    form(method="POST" id="signup")
      
        div.username
          label(for="username") Username
          input(id="username" name="username" value = user.username)
          span.error

        div.userid
          label(for="userid") UserID
          input(id="userid" name="userid" value = user.userid)
          span.error

        div.phone
          label(for="phone") Phone
          input(id="phone" name="phone" value = user.phone)
          span.error

        div.eamil 
          label(for="email") Email
          input(id="email" name="email" value = user.email)
          span.error
        div.buttons
          input.button.reset(type="reset" value="reset")
          input.button.submit(type="submit" value="submit")