/*
  css page for web2.0 week2
  creat a page for a movie review web site named Rancid Tomatos for the recent film TMNT
            -by Tianyi Li; 2016 software engeneering, SYSU
*/
body {
  background-image: url("pictures/background.png");
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 8pt;
  margin: 0;
  padding: 0;
}

div {
  overflow: hidden;
}

#banner {
  display: block;
  background-image: url("pictures/bannerbackground.png");
  background-repeat: repeat-x;
  text-align: center;
  height: 50px;
}

h1 {
  text-align: center;
  font-size: 24pt;
  font-weight: bold;
  font-family: Tahoma, Verdana, sans-serif;
}

#content {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  border: 4px gray solid;
}

#overview {
  float: right;
  display: inline;
}

#left-central {
  width: 550px;
}

#rating {
  background-repeat: repeat-x;
  background-image: url("pictures/rottenbackground.png");
  height: 83px;
  font-size: 8pt;
  font-style: normal;
  color: white;
}

#rating span {
  font-size: 48pt;
  font-weight: bold;
  color: red;
}

#rating img {
  height: 83px;
  vertical-align: bottom;
}

p.personinfo {
  font-style: italic;
  margin-bottom: 3em;
}

p.box {
  /*temp: adjust font-family to make boxes align*/
  /*font-family: Arial, sans-serif;*/
  font-size: 8pt;
  font-weight: bold;
  background-color: #E1D697;
  border: solid gray 2px;
  padding: 8px;
  overflow: hidden;
}

.column {
  width: 47%;
  margin-left: 2%;
  float: left;
}

.column img {
  margin-right: 5px;
  float: left;
}

#rightbar {
  width: 250px;
  background-color: #A2B964;
  font-family: Arial, sans-serif;
  font-size: 8pt;
  float: right;
  clear: left;
}

#rightbar dl {
  padding: 10px;
}


#rightbar dt {
  font-weight: bold;
  margin-top: 1em;
}

#rightbar img {
  margin-bottom: 1em;
}

#bottombar {
  clear: right;
  clear: left;
  background-color: #A2B964;
  padding: 5px;
  margin: 0;
  text-align: center;
  width: 800px;
  float: left;
}

#checkicon {
  right: 0px;
  bottom: 0px;
  position: fixed;
  border: none;
}